# Build outputs
dist/
dist-electron/
out/
.env

# Dependencies
node_modules/

# Operating System
*.exe
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

docs/superpowers
